body
{
    color:white;
    background:green;
}
.heading
{
    width:80%;
    font-size:22px;
}
.name_of_object, #result_object_name , #result_object_accuracy
{
    color:yellow;
}
#camera
{
    border:2px dashed black;
    width:350px;
    height:300px;
}